h1.jak {
    font-family: "Comic Sans MS", cursive;
    text-align: center !important;
    font-weight: bold !important;
}

h2.queen {
    text-align: center !important;
    font-weight: bold !important;
}
.king
{
	text-align: center;
}
.joker
{
	text-align: center;
}
.simple-linear {
  background: linear-gradient(wheat, white);
}

.rou
{
	color: white;
	font-family: "游ゴシック体", "Yu Gothic", sans-serif;
	font-size: 20px;
	-webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.3);
	text-shadow:
		-1px -1px 0 rgba(255, 30, 0, 0.6),
		1px -1px 0 rgba(255, 30, 0, 0.6),
		-1px  1px 0 rgba(255, 30, 0, 0.6),
		1px 1px 0 rgba(255, 30, 0, 0.6);
}
.wtf, .jpug {
  display: block;
  margin: 0;
}
.k4sen{
  display: flex;
  justify-content: center;
  gap: 240px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
　margin-top: 0;
}
.qr-container {
  display: flex;
  justify-content: center;
  gap: 160px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
　margin-bottom: 0;
}
.huziwaratoi
{
  text-indent: -1.2em; /* 「：」の幅に合わせて調整 */
  padding-left: 1.2em; /* 同じく調整 */
  white-space: normal;
}
















